// .container{
//     padding: 1rem 3rem;
// }
// example-container {
//     // // width: 400px;
//     height: 100vh;
//     background-color: aquamarine;
//     margin: 10px;
//     border: 1px solid rgb(36, 25, 25);
//   }
  mat-drawer-container{
    // height: 100vh; 
    position: relative;;
    bottom: 0;
    top:0;
    left:0;
    right:0;
    z-index:-1;
   
  }
  .sidenav{
      position: fixed;
      // background-color: #077221;
      top:4rem;
  }
//   mat-drawer-content{
//       overflow-y: scroll;
//   }
  .ncard{
      padding: 6rem;
      background-color: aquamarine;
  }
  mat-icon{
    color: rgb(104, 104, 104);
  }
  //new css
  .master{
    height:100vh;
    display: flex;
  }
  .list{
    margin-top:5rem;
    button{
      margin:0.75rem auto;
      display: block;
    
    }
    
  }
  .left{
    width:60px;
    background-color: #e0e0e0;
    height: 100vh;
    position: fixed;
    left:0;
  }
  .right{
    margin-top:5rem;
    margin-left: calc(60px + 1.5rem);
    margin-right: 1.5rem;
    width:100%;
    position: relative;
  }