.example-fill-remaining-space {
    flex: 1 1 auto;
  }
.usercard{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:6rem;
}
.example-full-width {
    width: 100%;
  }
  .card-align{
      display: flex;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
//  .header{
//     background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
//  }
// .project{
//     display: flex;
// }
// img{
//     height: 20rem;
//     width:auto;
//     margin-left: auto;
//     margin-right: auto;
// }