.example-fill-remaining-space {
    flex: 1 1 auto;
  }
.usercard{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.example-full-width {
    width: 100%;
  }
  .card-align{
      display: flex;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
 