<mat-toolbar color="accent">
    <span>Gecko</span>

    <span class="example-fill-remaining-space"></span>
  
    <span><button  mat-raised-button color="primary" routerLink="/">Sign Out</button></span>
  </mat-toolbar>
  <mat-card class="usercard">
    <mat-card-title style="text-align: center;">Create Project</mat-card-title>

    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Project Name" >
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Project Description" >
        </mat-form-field>
        <button  mat-raised-button color="primary" >Create</button>
      </form>
    </mat-card-content>
</mat-card>