<mat-toolbar class="header"  [class.mat-elevation-z2]="true" color="primary">
        <span>Gecko</span>
    
        <span class="example-fill-remaining-space"></span>
      
        <span>
            
    
          <button mat-icon-button><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></button>
          <button mat-icon-button><mat-icon aria-hidden="false" aria-label="Example home icon">settings_applications</mat-icon></button>
          <button mat-button routerLink="/" color="accent">Signout</button>
        </span>
      </mat-toolbar>
      <router-outlet></router-outlet>
      