@import '~@angular/material/theming';
@include mat-core();
$candy-app-primary: mat-palette($mat-indigo,900, A200, A800);
$candy-app-accent:  mat-palette($mat-amber, A200, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);
@include angular-material-theme($candy-app-theme);
// "./node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css",