<mat-toolbar class="header" >Issues</mat-toolbar>

 <div class="grid-container" cdkDropListGroup>
  <div class="grid-item">
    <h2 style="user-select: none;">To do</h2>
              
                  <div
                    cdkDropList
                    [cdkDropListData]="todo"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                  </div>
  </div>
  <div class="grid-item">
    <h2 style="user-select: none;">In Progress</h2>
              
                  <div
                    cdkDropList
                    [cdkDropListData]="inprogress"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of inprogress" cdkDrag>{{item}}</div>
                  </div>
  </div>
  <div class="grid-item">
    <h2 style="user-select: none;">Done</h2>
              
                  <div
                    cdkDropList
                    [cdkDropListData]="done"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                  </div>
  </div>  
 
</div>